In [6]:
#Import libraries and set random seed
import pandas as pd
import numpy as np
#import multiprocessing

#multiprocessing.cpu_count()
#import torch
import os
import pandas as pd
#from torchvision.io import read_image
import numpy as np
import matplotlib.pyplot as plt
#import torch.nn as nn
#import torch.optim as optim
#from torch.utils.data import Dataset, DataLoader, random_split
#from torchvision import transforms
#from torch import nn, optim
#import torch.nn.functional as F
#import torch.utils.data as data
#import torch
import numpy as np
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from collections import Counter
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix


np.random.seed(42)

In [8]:
#Show Percent Missing
missing_value_df.sort_values('percent_missing')

            column_name  percent_missing
protein_id
619                 619         1.017001
1881               1881         1.017001
361                 361         1.017001
2397               2397         1.017001
2381               2381         1.017001
...                 ...              ...
115                 115         8.860808
2614               2614        13.378491
732                 732        23.170917
1991               1991        63.357620
1889               1889        73.827413

[1463 rows x 2 columns]

In [10]:
#Replace uniprot_id's with protein names
olinknames = pd.read_csv("/home/ffc4001/ukbiobankdata/Data/coding143.tsv",sep='\t')
olinknames_dict = dict(zip(olinknames.coding, olinknames.meaning))

In [103]:
olinknames_dict[2297]

'RNASET2;Ribonuclease T2'

In [11]:
ukolink1.columns = ukolink1.columns.map(olinknames_dict)

In [24]:
eid = ukolink1.index
eid.to_csv("/home/ffc4001/ukbiobankdata/Data/olink_eid.csv")

In [ ]:
# Create correlation matrix WORK IN PROGRESS
corr_matrix = df.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))

# Find features with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]

# Drop features 
df.drop(to_drop, axis=1, inplace=True)

In [28]:
#Read in Variant only data
Trn_input =  pd.read_csv("/home/ffc4001/ukbiobankdata/TrainTest/ukbiobank_variantsonlytraindata_eid.csv")
Trn_target = pd.read_csv("/home/ffc4001/ukbiobankdata/TrainTest/ukbiobank_variantsonlytrainy_eid.csv")
Test_input = pd.read_csv("/home/ffc4001/ukbiobankdata/TrainTest/ukbiobank_variantsonlytestdata_eid.csv")
Test_target = pd.read_csv("/home/ffc4001/ukbiobankdata/TrainTest/ukbiobank_variantsonlytesty_eid.csv")
Val_input = pd.read_csv("/home/ffc4001/ukbiobankdata/TrainTest/ppmi_variantsonlyvaldata_eid.csv")
Val_target = pd.read_csv("/home/ffc4001/ukbiobankdata/TrainTest/ppmi_variantsonlyvaly_eid.csv")
Trn_input = pd.concat([Trn_input, pd.DataFrame(Trn_target)], axis=1)
Test_input = pd.concat([Test_input, pd.DataFrame(Test_target)], axis=1)

In [29]:
Trn_input.drop(["Unnamed: 0"], axis=1, inplace=True) 
Trn_target.drop(["Unnamed: 0"], axis=1, inplace=True) 
Test_input.drop(["Unnamed: 0"], axis=1, inplace=True)
Test_target.drop(["Unnamed: 0"], axis=1, inplace=True) 
Val_input.drop(["Unnamed: 0"], axis=1, inplace=True)
Val_target.drop(["Unnamed: 0"], axis=1, inplace=True)

In [30]:
ukolink1.index.names = ['eid_correct']
ukblood_values = ukolink1

In [31]:
#Merge Olink Data to PPMI Data
Trn_input = Trn_input.merge(ukblood_values,how='inner', on="eid_correct")
Test_input = Test_input.merge(ukblood_values,how='inner', on="eid_correct")

In [32]:
Trn_target = Trn_input["Y"]
Test_target = Test_input["Y"]

In [33]:
Trn_input.drop(["Y"], axis=1, inplace=True)
Test_input.drop(["Y"], axis=1, inplace=True)

In [42]:
#eid_correct1 = Trn_input.eid_correct
#eid_correct2 = Test_input.eid_correct

In [48]:
Trn_input.drop(["eid_correct"], axis=1, inplace=True)
Test_input.drop(["eid_correct"], axis=1, inplace=True)

In [49]:
#Imputation
Trn_input.fillna(Trn_input.mode().iloc[0], inplace=True)
Test_input.fillna(Test_input.mode().iloc[0], inplace=True)

In [ ]:
#age plus olink normalization
column = "age"

In [ ]:
# #Standarize age, and biomarkers
# Trn_input[column] = (Trn_input[column] - Trn_input[column].min()) / (Trn_input[column].max() - Trn_input[column].min())
# Test_input[column] = (Test_input[column] - Test_input[column].min()) / (Test_input[column].max() - Test_input[column].min())
# X_val[column] = (X_val[column] - X_val[column].min()) / (X_val[column].max() - X_val[column].min())

In [45]:
#eid3 = pd.concat([eid_correct1, eid_correct2])

In [47]:
#eid3.to_csv("/home/ffc4001/ukbiobankdata/Data/olink_eid.csv")

In [ ]:
#SAVE FILES

In [ ]:
#add olink to ppmi data set align.

In [50]:
X_val = pd.read_pickle("/home/ffc4001/ukbiobankdata/Data/final_X_valvariantsonly")

In [210]:
Y_val = pd.read_pickle("/home/ffc4001/ukbiobankdata/Data/final_Y_valvariantsonly")

In [58]:
ppmi_id = Val_input[["eid_correct"]]

In [60]:
X_val["PATNO"] = ppmi_id["eid_correct"]

In [54]:
olink_cardio_ppmi = pd.read_csv("/home/ffc4001/ukbiobankdata/Data/PPMI_Project_196_Plasma_Cardio_NPX_13Dec2023.csv")
olink_immune_ppmi = pd.read_csv("/home/ffc4001/ukbiobankdata/Data/PPMI_Project_196_Plasma_INF_NPX_13Dec2023.csv")
olink_cancer_ppmi = pd.read_csv("/home/ffc4001/ukbiobankdata/Data/PPMI_Project_196_Plasma_ONC_NPX_13Dec2023.csv")
olink_neuro_ppmi = pd.read_csv("/home/ffc4001/ukbiobankdata/Data/PPMI_Project_196_Plasma_NEURO_NPX_13Dec2023.csv")

In [ ]:
#Match to ukbiobank column name
#I need patno by NPX with column names ASSAY

In [125]:
olink_neuro_ppmi['PATNO']. nunique()

295

In [130]:
olink_cardio_ppmi1 = olink_cardio_ppmi[["PATNO", "ASSAY", "NPX"]]
olink_immune_ppmi1 = olink_immune_ppmi[["PATNO", "ASSAY", "NPX"]]
olink_neuro_ppmi1 = olink_neuro_ppmi[["PATNO", "ASSAY", "NPX"]]
olink_cancer_ppmi1 = olink_cancer_ppmi[["PATNO", "ASSAY", "NPX"]]

In [154]:
olink_cardio_ppmi2 = olink_cardio_ppmi1.pivot_table(['NPX'], 'PATNO', 'ASSAY')
olink_neuro_ppmi2 = olink_neuro_ppmi1.pivot_table(['NPX'], 'PATNO', 'ASSAY')
olink_cancer_ppmi2 = olink_cancer_ppmi1.pivot_table(['NPX'], 'PATNO', 'ASSAY')
olink_immune_ppmi2 = olink_immune_ppmi1.pivot_table(['NPX'], 'PATNO', 'ASSAY')

In [171]:
olink_neuro_ppmi2.columns = olink_neuro_ppmi2.columns.droplevel()

In [175]:
olink_cancer_ppmi2.columns = olink_cancer_ppmi2.columns.droplevel()
olink_immune_ppmi2.columns = olink_immune_ppmi2.columns.droplevel()
olink_cardio_ppmi2.columns = olink_cardio_ppmi2.columns.droplevel()

In [170]:
temp.shape

(295, 370)

In [177]:
#merge data 
merge = pd.merge(olink_cancer_ppmi2, olink_neuro_ppmi2, on="PATNO") 
merge = pd.merge(merge, olink_immune_ppmi2, on="PATNO")
#merge = pd.merge(merge, olink_cardio_ppmi2, on="PATNO")

In [178]:
merge = pd.merge(merge, olink_cardio_ppmi2, on="PATNO")

/tmp/ipykernel_793386/3976361491.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'TNF_x', 'IL6_x', 'CXCL8_x'} in the result is deprecated and will raise a MergeError in a future version.
  merge = pd.merge(merge, olink_cardio_ppmi2, on="PATNO")

In [179]:
merge.columns.unique()

Index(['AARSD1', 'ABL1', 'ACAA1', 'ACP6', 'ADAMTS15', 'ADAMTS8', 'ADCYAP1R1',
       'ADGRG1', 'ADM', 'AGR3',
       ...
       'VAMP5', 'VASN', 'VCAM1', 'VIM', 'VSIR', 'VSTM2L', 'VWF', 'WASF1', 'XG',
       'ZBTB17'],
      dtype='object', name='ASSAY', length=1475)

In [196]:
merge.drop(merge.tail(2).index,
        inplace = True)

In [197]:
merge['id'] = merge['id'].astype(np.float64)

In [203]:
merge["PATNO"] = merge['id']
merge.index.names = ['id1']

In [204]:
X_val1 = pd.merge(X_val, merge, on="PATNO")

In [ ]:
Y_val["PATNO"] = X_val["PATNO"]

In [219]:
Y_val1 = pd.DataFrame(Y_val.T, columns=['Y'])

In [220]:
Y_val1["PATNO"] = X_val["PATNO"]

In [224]:
Y_val1 = pd.merge(Y_val1, X_val1["PATNO"],  on="PATNO")

In [231]:
Y_val1 = Y_val1["Y"]

In [234]:
Y_val1.sum()

31.0

In [ ]:
#Align olink data.

In [250]:
column_names = Trn_input.columns[637:]

In [255]:
old_names = Trn_input.columns[637:]
Trn_input.rename(columns=dict(zip(old_names, old_names.str.split(';').str[0])), inplace=True)

In [284]:
old_names = Test_input.columns[637:]
Test_input.rename(columns=dict(zip(old_names, old_names.str.split(';').str[0])), inplace=True)

In [268]:
names = Trn_input.columns

In [269]:
names

Index(['Inferred_Gender', 'Age', 'X1.8495945_T_C_C', 'X1.20149058_A_G_G',
       'X1.20149560_G_A_A', 'X1.20150839_A_G_G', 'X1.20150984_C_G_G',
       'X1.20150998_A_G_G', 'X1.20151290_C_A_A', 'X1.20151431_A_G_G',
       ...
       'WNT9A', 'WWP2', 'XCL1', 'XG', 'XPNPEP2', 'XRCC4', 'YES1', 'YTHDF3',
       'ZBTB16', 'ZBTB17'],
      dtype='object', length=2100)

In [270]:
X_val1.columns.intersection(names)

Index(['Age', 'Inferred_Gender', 'X1.108176287_C_T_T', 'X1.151115007_G_A_A',
       'X1.154837939_A_G_G', 'X1.155026114_C_T_C', 'X1.155033317_T_C_T',
       'X1.155033918_C_T_T', 'X1.155034632_C_G_G', 'X1.155044197_T_G_G',
       ...
       'VAMP5', 'VASN', 'VCAM1', 'VIM', 'VSIR', 'VSTM2L', 'VWF', 'WASF1', 'XG',
       'ZBTB17'],
      dtype='object', length=2003)

In [310]:
X_val2 = X_val1[X_val1.columns.intersection(names)]

In [274]:
Trn_input1 = Trn_input[Trn_input.columns.intersection(X_val2.columns)]

In [285]:
Test_input1 = Test_input[Test_input.columns.intersection(X_val2.columns)]

In [280]:
#standardize age and move inferred gender to front for ppmi
column = "Age"

In [287]:
#Standarize age, and biomarkers
Trn_input1[column] = (Trn_input1[column] - Trn_input1[column].min()) / (Trn_input1[column].max() - Trn_input1[column].min())
Test_input1[column] = (Test_input1[column] - Test_input1[column].min()) / (Test_input1[column].max() - Test_input1[column].min())
#X_val[column] = (X_val[column] - X_val[column].min()) / (X_val[column].max() - X_val[column].min())

/tmp/ipykernel_793386/2651736735.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Trn_input1[column] = (Trn_input1[column] - Trn_input1[column].min()) / (Trn_input1[column].max() - Trn_input1[column].min())
/tmp/ipykernel_793386/2651736735.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Test_input1[column] = (Test_input1[column] - Test_input1[column].min()) / (Test_input1[column].max() - Test_input1[column].min())

In [ ]:
#Save TRAIN, TEST, VAL

In [313]:
first_column = X_val2.pop('Inferred_Gender') 
X_val2.insert(0,'Inferred_Gender', first_column)

In [303]:
#X_val2.fillna(X_val2.mode().iloc[0], inplace=True)

/tmp/ipykernel_793386/3911273629.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_val2.fillna(Trn_input.mode().iloc[0], inplace=True)

In [294]:
# #Save TRAIN, TEST, VAL

# Trn_input1.to_pickle("/home/ffc4001/ukbiobankdata/Data/final_X_trainolink")
# Trn_target.to_pickle("/home/ffc4001/ukbiobankdata/Data/final_Y_trainolink")
# Test_input1.to_pickle("/home/ffc4001/ukbiobankdata/Data/final_X_testolink")
# Test_target.to_pickle("/home/ffc4001/ukbiobankdata/Data/final_Y_testolink")

In [298]:
combined_ppmi_uk_target = pd.concat([Test_target, Y_val1])

In [304]:
combined_ppmi_uk_target_input = pd.concat([Test_input1, X_val2])

In [305]:
# combined_ppmi_uk_target_input.to_pickle("/home/ffc4001/ukbiobankdata/Data/final_combinedtest")
# combined_ppmi_uk_target.to_pickle("/home/ffc4001/ukbiobankdata/Data/final_Y_combinedtest")

In [316]:
x_val2 = X_val2[Test_input1.columns]
x_val2.fillna(x_val2.mode().iloc[0], inplace=True)

In [317]:
x_val2.to_pickle("/home/ffc4001/ukbiobankdata/Data/final_X_valolink")
Y_val1.to_pickle("/home/ffc4001/ukbiobankdata/Data/final_Y_valolink")